<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <svg width="263" height="84" viewBox="0 0 263 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1_20_349" fill="white">
          <path d="M59.306 5.39769C75.6041 8.37877 86.3998 24.0077 83.4187 40.3058V40.3058C80.4376 56.604 64.8087 67.3996 48.5106 64.4185L47.713 64.2726C31.8553 61.3721 21.3515 46.1656 24.252 30.308L29.6156 0.983658C29.715 0.440386 30.236 0.0805329 30.7793 0.179902L59.306 5.39769Z"/>
        </mask>
        <path d="M59.306 5.39769C75.6041 8.37877 86.3998 24.0077 83.4187 40.3058V40.3058C80.4376 56.604 64.8087 67.3996 48.5106 64.4185L47.713 64.2726C31.8553 61.3721 21.3515 46.1656 24.252 30.308L29.6156 0.983658C29.715 0.440386 30.236 0.0805329 30.7793 0.179902L59.306 5.39769Z" fill="#7B16FF" stroke="#7B16FF" stroke-width="16" mask="url(#path-1-inside-1_20_349)"/>
        <mask id="path-2-inside-2_20_349" fill="white">
          <path d="M27.4792 82.025C11.7506 81.4243 -0.512992 68.1867 0.0877628 52.458V52.458C0.751755 35.0737 15.3828 21.5192 32.7671 22.1832V22.1832C48.4957 22.784 60.7593 36.0216 60.1585 51.7502L58.9945 82.228C58.9734 82.7799 58.5089 83.2102 57.957 83.1891L27.4792 82.025Z"/>
        </mask>
        <path d="M27.4792 82.025C11.7506 81.4243 -0.512992 68.1867 0.0877628 52.458V52.458C0.751755 35.0737 15.3828 21.5192 32.7671 22.1832V22.1832C48.4957 22.784 60.7593 36.0216 60.1585 51.7502L58.9945 82.228C58.9734 82.7799 58.5089 83.2102 57.957 83.1891L27.4792 82.025Z" fill="#FF3D00" stroke="#F6F6F6" stroke-width="16" mask="url(#path-2-inside-2_20_349)"/>
        <path d="M114.962 65.16C114.962 66.632 114.042 67.368 112.202 67.368C110.393 67.368 109.488 66.632 109.488 65.16V35.122H101.438C100.334 35.122 99.7513 34.34 99.69 32.776C99.69 31.2427 100.273 30.476 101.438 30.476H123.012C124.177 30.476 124.729 31.2427 124.668 32.776C124.668 34.34 124.116 35.122 123.012 35.122H114.962V65.16ZM140.878 34.984L130.804 65.896V65.85C130.62 66.31 130.359 66.6933 130.022 67C129.715 67.276 129.332 67.414 128.872 67.414C128.626 67.414 128.381 67.3833 128.136 67.322C127.921 67.2913 127.691 67.2453 127.446 67.184H127.492C125.744 66.632 125.1 65.6507 125.56 64.24L136.048 32.362C136.201 31.8713 136.462 31.4573 136.83 31.12C137.228 30.7827 137.688 30.5833 138.21 30.522C138.731 30.43 139.237 30.3687 139.728 30.338C140.218 30.2767 140.602 30.246 140.878 30.246C141.154 30.246 141.537 30.2767 142.028 30.338C142.518 30.3687 143.024 30.4147 143.546 30.476C143.975 30.5373 144.389 30.7673 144.788 31.166C145.217 31.5647 145.539 31.9633 145.754 32.362C147.471 37.6367 149.204 42.9573 150.952 48.324C152.73 53.66 154.478 58.9653 156.196 64.24C156.625 65.6507 155.981 66.632 154.264 67.184C154.018 67.2453 153.788 67.2913 153.574 67.322C153.39 67.3833 153.175 67.414 152.93 67.414C152.5 67.414 152.102 67.276 151.734 67C151.396 66.6933 151.151 66.31 150.998 65.85V65.896L140.878 34.984ZM144.328 55.96C144.328 56.9413 143.975 57.7847 143.27 58.49C142.595 59.1647 141.767 59.502 140.786 59.502C139.804 59.502 138.976 59.1647 138.302 58.49C137.627 57.7847 137.29 56.9413 137.29 55.96C137.29 54.9787 137.627 54.1507 138.302 53.476C138.976 52.7707 139.804 52.418 140.786 52.418C141.767 52.418 142.595 52.7707 143.27 53.476C143.975 54.1507 144.328 54.9787 144.328 55.96ZM163.213 67.046C162.078 67.046 161.311 66.7547 160.913 66.172C160.514 65.5893 160.315 64.9453 160.315 64.24V32.454C160.315 30.982 161.204 30.246 162.983 30.246C164.823 30.246 165.743 30.982 165.743 32.454V62.4H181.107C182.211 62.4 182.763 63.1513 182.763 64.654C182.824 66.2487 182.272 67.046 181.107 67.046H163.213ZM206.456 31.028C206.916 30.476 207.438 30.2 208.02 30.2C208.664 30.2 209.324 30.4913 209.998 31.074C210.336 31.4113 210.612 31.7487 210.826 32.086C211.072 32.4233 211.194 32.7607 211.194 33.098C211.194 33.65 210.995 34.1253 210.596 34.524L204.432 41.7L192.426 55.822V65.068C192.426 66.54 191.506 67.276 189.666 67.276C187.857 67.276 186.952 66.54 186.952 65.068V32.454C186.952 30.982 187.857 30.246 189.666 30.246C191.506 30.246 192.426 30.982 192.426 32.454V47.496L206.456 31.028ZM199.924 52.878C199.618 52.4487 199.464 51.9273 199.464 51.314C199.464 50.394 199.848 49.658 200.614 49.106H200.568C201.182 48.6767 201.795 48.462 202.408 48.462C202.991 48.462 203.482 48.7993 203.88 49.474L212.758 62.446L212.712 62.4C212.988 62.8293 213.126 63.2893 213.126 63.78C213.126 64.5773 212.728 65.2827 211.93 65.896H211.976C211.639 66.1107 211.317 66.2793 211.01 66.402C210.704 66.5247 210.428 66.586 210.182 66.586C209.937 66.586 209.676 66.494 209.4 66.31C209.155 66.126 208.91 65.896 208.664 65.62L199.924 52.878ZM233.393 65.32C233.393 66.6 232.593 67.24 230.993 67.24C229.42 67.24 228.633 66.6 228.633 65.32V36.96C228.633 35.68 229.42 35.04 230.993 35.04C232.593 35.04 233.393 35.68 233.393 36.96V65.32ZM257.522 36.96C257.522 35.68 258.308 35.04 259.882 35.04C261.455 35.04 262.242 35.68 262.242 36.96V64.56C262.242 65.4933 261.748 66.1733 260.762 66.6H260.802C260.375 66.7867 259.922 66.9333 259.442 67.04C258.962 67.1467 258.495 67.2 258.042 67.2C257.695 67.2 257.335 67.16 256.962 67.08C256.588 67.0267 256.228 66.9333 255.882 66.8C255.562 66.64 255.255 66.44 254.962 66.2C254.695 65.9333 254.482 65.6133 254.322 65.24L245.642 43.6L244.562 43.72V65.32C244.562 66.6 243.762 67.24 242.162 67.24C240.588 67.24 239.802 66.6 239.802 65.32V37.76C239.802 36.6667 240.282 35.9333 241.242 35.56C242.122 35.2133 243.055 35.04 244.042 35.04C244.735 35.04 245.428 35.1867 246.122 35.48C246.842 35.7467 247.388 36.2667 247.762 37.04L256.402 58.72L257.522 58.6V36.96Z" fill="#2F2F2F"/>
      </svg>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Sign in to your account
          </h1>
          <form class="space-y-4 md:space-y-6" action="#">
            <div>
              <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.email_field :email, placeholder: "Email", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
            </div>
            <div>
              <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.password_field :password, placeholder: "Password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", required: true %>
            </div>
            <div class="flex items-center justify-between">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class: "h-4 w-4 text-primary-600 focus:ring-primary-600 border-gray-300 rounded" %>
                <%= f.label :remember_me, class: "ml-2 block text-sm text-black dark:text-black" %>
              <% end %>
            </div>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Don’t have an account yet? <a href=<%= new_user_registration_path %> class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
            </p>
            <div class="flex items-center justify-between">
              <%= f.submit "Sign in", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-black bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<% end %>
